


    




    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">URSI app blanche</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="">Accueil</a></li>
            
            <li><a href="#contact">Contact</a></li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mon compte <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Mon profil</a></li>
                <li role="separator" class="divider"></li>
                <!--<li class="dropdown-header">Nav header</li>-->
                <li><a href="#">Se déconnecter</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        
        <h2>Todo List</h2>
            <ul *ngFor='let todo of todos'>
                <li>Title: {{todo.title}} Id: {{todo.id}}
                  <input  value="X" type="button" (click)="deleteTodo(todo.id)" />
                </li>
            </ul>


            
                <div class="form-group row">
                    <div class="form-inline">
                        <label>Title: </label>
                        <input type="text" class="form-control" [(ngModel)]="todo.title" />
                        <button type="submit" class="btn btn-primary" (click)="addTodo()">Add</button>
                    </div>

           
                </div>
            
      </div>

    </div> <!-- /container -->
    


   

